

.header{
  display: flex;
  align-items: center;
  height: 60px;
  padding:10px;
  background: linear-gradient(90deg,#682280 1.18%, #A626D3 100%);
  padding: 20px;
  color:white;
}


.header > img {
  width:100px;
  margin-right: 6px;
}

.header > div {
  margin-right: 100px;
  flex-wrap: wrap;
}


.form {
  margin: 20px;
  margin-top: 40px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap:17px;
}

.form--input { 
  border-radius: 5px;
  border:1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1/-1;
  font-family: "Karla", sans-serif;
  border-radius:5px;
  color:white;
  border:none;
  cursor: pointer;
  background: linear-gradient(90deg,#451555 1.18%, #7a159e 100%);
}