body {
  margin:0;
  min-width: 300px;
}

.nav {
  height: 40px;
  display: flex;
  padding: 20px 26px;
  justify-content: center;
  box-shadow: 0px 2.9px 7.4px rgba(0, 0, 0, 0.4);
  background-color: tomato;
}

.nav > h3 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  left:10px;
  top:-30%;  
  color:white;
}

.nav > img {
  max-width: 120px;
}

.card > img {
  max-width: 150px;
}
.card {
  margin-top:5%;
  display: flex;
  margin:10%;
  min-width: 300px !important;
  padding: 0px 10px;
  justify-content: center;
  height: 300px;
  border-bottom: 1px;
}

.card--stats {
  padding:10px 40px;
  flex-wrap: wrap;
}
