body {
  margin:0
}

.nav {
  height: 40px;
  display: flex;
  padding: 20px 26px;
  box-shadow: 0px 2.9px 7.4px rgba(0, 0, 0, 0.4);
}


.nav > img {
  max-width: 120px;
}

.hero {
  padding:20px;
  display: flex;
  flex-direction: column;
}

.hero--logo {
  max-width: 300px;
  align-self: center;
}

.hero--title {
  margin-top:20px;
}

.hero--content{
  margin-top:0;
}

.card {
  width:175px;
  display: flex;
  flex-direction: column;
  padding:20px;
  font-size:14px;
}

.card--image {
  width:100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card--star {
  width:15px;
}
  

.gray {
  color:gray;
}

.bold {
  font-weight:bold;
}
